In [1]:
import nb.edhec_risk_kit_110 as edk
import pandas as pd

In [2]:
prices = pd.read_csv('data/Portfolios_Formed_on_ME_monthly_EW.csv')

In [3]:
prices_lo20 = prices['Hi 20']

In [4]:
prices_lo20 = prices_lo20 / 100

In [5]:
D = len(prices_lo20)

In [6]:
annualized_return = (prices_lo20.add(1).prod()**(12/D)-1)*100

In [7]:
annualized_return

9.849020951253152

### Annualized Vol

In [8]:
prices_lo20.isna().sum()

0

In [9]:
annualized_vol = (prices_lo20.std()*(12**0.5))*100

In [10]:
annualized_vol

19.511604155631314

### Annualized Return over a period

In [150]:
prices = pd.read_csv("data/Portfolios_Formed_on_ME_monthly_EW.csv", header=0, index_col=0, parse_dates=True, na_values=-99.99)

In [151]:
prices.head()

,<= 0,Lo 30,Med 40,Hi 30,Lo 20,Qnt 2,Qnt 3,Qnt 4,Hi 20,Lo 10,Dec 2,Dec 3,Dec 4,Dec 5,Dec 6,Dec 7,Dec 8,Dec 9,Hi 10
192607,NaN,-0.43,1.52,2.68,-0.57,0.59,1.60,1.47,3.33,-1.45,0.29,-0.15,1.33,1.24,1.98,1.55,1.38,3.38,3.29
192608,NaN,3.90,3.04,2.09,3.84,3.59,3.71,1.61,2.33,5.12,2.59,4.03,3.15,2.72,4.72,1.60,1.63,0.98,3.70
192609,NaN,-1.08,-0.54,0.16,-0.48,-1.40,0.00,-0.50,-0.09,0.93,-1.87,-2.27,-0.53,0.07,-0.07,-1.64,0.64,-0.86,0.67
192610,NaN,-3.32,-3.52,-3.06,-3.29,-4.10,-2.89,-3.36,-2.95,-4.84,-1.77,-3.36,-4.83,-2.98,-2.80,-3.45,-3.27,-3.47,-2.43
192611,NaN,-0.46,3.82,3.09,-0.55,2.18,3.41,3.39,3.16,-0.78,-0.32,-0.29,4.65,3.24,3.57,3.82,2.95,3.61,2.70

In [152]:
prices.index = pd.to_datetime(prices.index, format = "%Y%m")

In [153]:
prices.index

DatetimeIndex(['1926-07-01', '1926-08-01', '1926-09-01', '1926-10-01',
               '1926-11-01', '1926-12-01', '1927-01-01', '1927-02-01',
               '1927-03-01', '1927-04-01',
               ...
               '2018-03-01', '2018-04-01', '2018-05-01', '2018-06-01',
               '2018-07-01', '2018-08-01', '2018-09-01', '2018-10-01',
               '2018-11-01', '2018-12-01'],
              dtype='datetime64[ns]', length=1110, freq=None)

In [154]:
prices.index = prices.index.to_period('M')
prices.head()

,<= 0,Lo 30,Med 40,Hi 30,Lo 20,Qnt 2,Qnt 3,Qnt 4,Hi 20,Lo 10,Dec 2,Dec 3,Dec 4,Dec 5,Dec 6,Dec 7,Dec 8,Dec 9,Hi 10
1926-07,NaN,-0.43,1.52,2.68,-0.57,0.59,1.60,1.47,3.33,-1.45,0.29,-0.15,1.33,1.24,1.98,1.55,1.38,3.38,3.29
1926-08,NaN,3.90,3.04,2.09,3.84,3.59,3.71,1.61,2.33,5.12,2.59,4.03,3.15,2.72,4.72,1.60,1.63,0.98,3.70
1926-09,NaN,-1.08,-0.54,0.16,-0.48,-1.40,0.00,-0.50,-0.09,0.93,-1.87,-2.27,-0.53,0.07,-0.07,-1.64,0.64,-0.86,0.67
1926-10,NaN,-3.32,-3.52,-3.06,-3.29,-4.10,-2.89,-3.36,-2.95,-4.84,-1.77,-3.36,-4.83,-2.98,-2.80,-3.45,-3.27,-3.47,-2.43
1926-11,NaN,-0.46,3.82,3.09,-0.55,2.18,3.41,3.39,3.16,-0.78,-0.32,-0.29,4.65,3.24,3.57,3.82,2.95,3.61,2.70

In [155]:
# prices.loc[prices.index.between('1999','2015',inclusive=True) ]

In [156]:
sub_prices = prices['Lo 20']

In [157]:
sub_prices.tail()

2018-08     3.09
2018-09    -2.04
2018-10   -10.52
2018-11    -2.78
2018-12   -14.77
Freq: M, Name: Lo 20, dtype: float64

In [158]:
subdate_prices = sub_prices['1999':'2015']

In [159]:
subdate_prices.tail()

2015-08   -3.47
2015-09   -6.10
2015-10    3.85
2015-11    1.65
2015-12   -5.00
Freq: M, Name: Lo 20, dtype: float64

In [160]:
subdate_prices = subdate_prices/100

In [161]:
subdate_prices.tail()

2015-08   -0.0347
2015-09   -0.0610
2015-10    0.0385
2015-11    0.0165
2015-12   -0.0500
Freq: M, Name: Lo 20, dtype: float64

In [162]:
D = len(subdate_prices)

In [163]:
D

204

In [164]:
annualized_return = (subdate_prices.add(1).prod()**(12/D)-1)*100

In [166]:
annualized_return

11.442634058514933

### Annualized Vol over a period

In [167]:
annualized_vol = (subdate_prices.std()*(12**0.5))*100

annualized_vol

22.889447266699595

# Drawdown

In [168]:
def drawdown(return_series: pd.Series):
    """Takes a time series of asset returns.
       returns a DataFrame with columns for
       the wealth index, 
       the previous peaks, and 
       the percentage drawdown
    """
    return_series = return_series/100
    wealth_index = 1000*(1+return_series).cumprod()
    previous_peaks = wealth_index.cummax()
    drawdowns = (wealth_index - previous_peaks)/previous_peaks
    return pd.DataFrame({"Wealth": wealth_index, 
                         "Previous Peak": previous_peaks, 
                         "Drawdown": drawdowns})

In [171]:
(drawdown(prices["Hi 20"]['1999':'2015'])['Drawdown'].min()) *100

-55.27349978713653

In [172]:
(drawdown(prices["Lo 20"]['1999':'2015'])['Drawdown'].idxmin())

Period('2009-02', 'M')

# HEDGE FUND DATA QUIZ

In [92]:
import pandas as pd
import nb.edhec_risk_kit_106 as erk
%load_ext autoreload
%autoreload 2
%matplotlib inline

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [93]:
hfi = erk.get_hfi_returns()

In [97]:
sub_hfi = hfi['2009':]

In [103]:
erk.semideviation(sub_hfi).idxmax()

'Short Selling'

In [104]:
erk.semideviation(sub_hfi).idxmin()

'Fixed Income Arbitrage'

In [107]:
import scipy.stats
scipy.stats.skew(sub_hfi)

array([ 1.30591093,  0.05206195, -0.25494434,  0.03312287, -0.89632731,
       -0.48882095,  1.12145348,  0.34818394, -0.46370341, -0.55106451,
        0.15995286,  0.45651822, -0.64690778])

In [108]:
erk.skewness(sub_hfi).sort_values()

Equity Market Neutral    -0.896327
Funds Of Funds           -0.646908
Merger Arbitrage         -0.551065
Event Driven             -0.488821
Long/Short Equity        -0.463703
Distressed Securities    -0.254944
Emerging Markets          0.033123
CTA Global                0.052062
Relative Value            0.159953
Global Macro              0.348184
Short Selling             0.456518
Fixed Income Arbitrage    1.121453
Convertible Arbitrage     1.305911
dtype: float64

In [110]:
sub2_hfi = hfi['2000':]

In [113]:
erk.kurtosis(sub2_hfi).sort_values()

CTA Global                 2.845022
Global Macro               3.653278
Short Selling              4.352758
Long/Short Equity          4.472589
Merger Arbitrage           4.520785
Event Driven               5.543444
Emerging Markets           5.941289
Distressed Securities      6.231720
Funds Of Funds             7.584725
Relative Value            12.731096
Equity Market Neutral     20.329621
Convertible Arbitrage     23.001449
Fixed Income Arbitrage    33.378729
dtype: float64